In [2]:
import pandas as pd

In [2]:
#Series.
s = pd.Series(["peach", "lilly", "dazy"])
print(s)

0    peach
1    lilly
2     dazy
dtype: object

In [5]:
#DataFrame, basics.
#1. Init.
idx = pd.RangeIndex(start=1, stop=4, step=1)   #Init idx. (stop = n -> idx = [start, n-1])
df = pd.DataFrame(
    data = [
        ['peach', 182, 65],
        ['lilly', 145, 64],
        ['dazy', 165, 53]
    ],
    columns = ['Name', 'Height', 'Weight'],
    index = idx
)

#2. Indexing.
df[['Name', 'Height']]        #indexing cols.
df.loc[[1,3]]                 #indexing rows.
df.loc[                       #indexing rows & cols.
    [1,3],     #rows.
    ['Name']   #cols.
]
df.iloc[                      #indexing by position.
    [1],
    [1]
]
df.iloc[                      #indexing multiple rows & cols.
    :,
    1:3
]
df.loc[                       #indexing by cond.
    (df['Height'] < 180) &
    (df['Name'] == 'dazy')
]

#3. Modify & Delete.
df2 = df.copy()               #should copy first!
df2.loc[                      #just indexing + allocate.
    [1],
    ['Height']
] = 175

df2.drop(index=[1,3], columns=['Height'])  #drop. Note that df2 does not change!
df2.drop(df[df.Height < 170].index)        #drop by cond.

    Name  Height  Weight
2  lilly     145      64

In [1]:
#DataFrame, ftns summary.

#Describe.
df.head(2)
df.tail(2)
df.info(max_cols)                  #check each col's data type and num of nulls.
df['Name'].value_counts()          #counts the number of each value in given col.
df.describe()                      #mean/std/quartile for numerical features.
df.hist(figsize=(15,15), bins=5)

#Sort.
df.sort_index(ascending=False)
df.sort_values(by=['Height', 'Weight'], ascending=True)

#NaN.
df.fillna(value=1)

NameError: name 'df' is not defined